
<!-- **** Chapter Navigation Links **** -->
	<footer class="text-center">
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<%= link_to "Back", "#", class: "text-left" %>
					</div>
					<div class="col-md-4">&copy; 2014 OrgoDojo</div>
					<div class="col-md-4">
						<%= link_to "Next", "#", class: "text-right" %>
					</div>
				</div>
			</div>
		</div>
	</footer>
