<!--- Chapter 7 must be up by the 10/20/14 -->




<%= render 'pages/chapters_header' %>



	<div class="container text-color">
		<div class="row">
			<div class="col-md-12">

				<h2 class="section-header section-index-top-header emphasis">Alkenes: Overview</h2>

				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Alcohol Dehydration</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Halogen Dehydration</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis"> </h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis"> </h2>
				<p>
				</p>
		

				<h2 class="section-header section-index-top-header emphasis"> </h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis"> </h2>
				<p>
				</p>

			</div>
		</div>
		<ul class="pager">
		  <li class="previous">
		  	<%= link_to "Back", chapter3_path, class: "text-left" %>
		  </li>
		  <li class="next">
		  	<%= link_to "Next", soon_path, class: "text-right" %>
		  </li>
		</ul>
		<%= render 'pages/disqus_board' %>
	</div>

