<% content_for :chapters do %>
    <%= stylesheet_link_tag 'chapters.css' %>  
<% end %>

<%= render 'pages/chapters_header' %>


	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2 class="section-header section-index-top-header emphasis">Alkanes: Hydrocarbon Molecules</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Alkanes and Isomers</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Nomenclature</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Chemical Properties of Alkanes</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Physical Properties of Alkanes</h2>
				<p>
				</p>
		

				<h2 class="section-header section-index-top-header emphasis">Stability of Alkanes</h2>
				<p>
				</p>

				<h2 class="section-header section-index-top-header emphasis">Heat of Combustion</h2>
				<p>
				</p>

			</div>
		</div>
	</div>

