
<div class="jumbotron center">
	<h1>Welcome to OrgoDojo!</h1>
	<p>This is where the landing page will be located!</p>
	<p> 
		<%= link_to "LOG IN", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "SIGN UP", "#", class: "btn btn-primary btn-lg" %>
	</p>

</div>
