<% content_for :chapters do %>
    <%= stylesheet_link_tag 'chapters.css' %>  
<% end %>

<%= render 'layouts/header' %>

<div class="container-fluid center">
  <h1>More Chapters Coming Soon!</h1>
  <p></p>
</div>

