
<%= render 'pages/chapters_header' %>


<div class="jumbotron text-color">
	<div class="container center">
	  <h2>Chapter 9 and Much More Coming Soon!</h2>
	  <div class="container">
			<ul class="pager">
			  <li class="previous">
			  	<%= link_to "Back", chapter8_path, class: "text-left" %>
			  </li>
			  <li class="next">
			  	<%= link_to "Home", root_path, class: "text-left" %>
			  </li>
			</ul>
		</div>
	</div>
</div>

