@import url(http://fonts.googleapis.com/css?family=Lato:400,700);



$font-family-sans-serif:       'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                45px;
$navbar-default-bg:            white;
$navbar-default-brand-color:   #ff4a4a; 

@import 'bootstrap';

body {
	color: black;
}

/* Image Properties */
.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* Section Styles */


.section-header {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;

}

.section-index-top-header {
	margin-top: 10px;



}







