@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                      white;
$font-family-sans-serif:       'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                45px;
$navbar-default-bg:            white;
$navbar-default-brand-color:   #ff4a4a; 

$brand-primary:                #ff4a4a;  /* how does this style the sign up button?? */
$btn-primary-border: darken($brand-primary, 0%);


$brand-default: #F5D76E;
$btn-default-border: darken($brand-default, 0%);

@import 'bootstrap';

body {
	color: white;
}

/* Navigation section */
.navbar-brand {
  	font-weight: bold;
}

.navbar {
		margin-bottom: 0px;
}


/* Welcome section */
.center {
  	text-align: center;
}


.welcome-bg {
		background-color: #f2c300;
		margin-bottom: 0px;

}

.benefits-title {

}

.btn-welcome {
		color: white;
		background-color: #ff4a4a;
		border-style: none;
		box-shadow: 0px 4px 0px 2px #ac3737;  /* very cool button shadow effect  */
		border-radius: 40px;
		width: 50%;
		font-size: 1.0em;

}

.btn-welcome:hover {
		background-color: #ff4a4a;
		border-color: #ff4a4a;
}



/* Benefits Section */
.benefits-bg {
		background-color: #3498db;
}



.divider {
		background-color: #ff4a4a;
		height: 0.25em;
		width: 24%;
		margin-top: 2%;
		margin-bottom: 4%;
		margin-left: 38%;
}


.top-space {
		margin-top: 0px;
}

.bottom-space {  
		padding-bottom: 50px;
		margin-bottom: 0px; /* This controls a margin that confuses me - refactor this code later */
}

.side-space {
		width: 100%;
}

.highlight {
		margin-top: 0px;
}

.h-caption {

}

.h-body {
		font-size: 15px;
}

.btn-benefit {
		color: white;
		margin-top: 50px;
		background-color: #F5D76E;
		box-shadow: 0px 4px 0px 2px #FFA200;
		border-radius: 40px;
		/* width: 35%; */
		width: 50%;
		font-size: 1.2em;
		/* position: relative; does this do anything */
		/* text-align: absolute;  does this do anything */

		/* add if statement so that once one small device only a few words show */
}

.btn-benefit:hover {
		background-color: #F5D76E;
		border-color: #F5D76E;

}




/* Footer Section */

.footer-above {

}

.footer-col {
		margin-top: 50px;
		margin-bottom: 50px;
}

footer h3 {
	margin-bottom: 10px;
}

.footer-links {
		margin: 0;
		padding: 0;
		list-style: none;
		color: white;
}

.footer-above {
		background-color:    #675fd6; /* light purple = #9cabe4 */
		margin-top:          0px;

}

.footer-below {
		color:              black;
		padding-top:        25px;
		padding-bottom:     25px;
		background-color:   white;
		margin-top:         0px;
 
}

/* Chapter Views */
.text-color {
	color: black;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.section-header {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.section-index-top-header {
	margin-top: 10px;
}


.panel-heading {
	cursor: pointer;
}


.chapter-select {
	/* @ 705px of the document the pagers misalign with the form select menu */

	margin-left: 10%;
	margin-right: auto;





	/* margin: 0 auto; --> centers objects also with float: none */
}



/* Advertisment View */

#ad {
	position: fixed;
	background: red;
	top: 5.2em;
	left: auto;
	right: 5%;
	width: 300px;
	height: 300px;
}

.col-md-9{
	width: calc(100% - 310px);
}

#row-wrapper{
	position: relative;
}

#wrapper{
	width: 90% !important;
}

.container{
	width: 90% !important;
}






