@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

@import 'bootstrap-sprockets';
@import 'bootstrap';


body {
	color: white;
}


/*=================================
  Navigation section
=================================*/

.navbar-page-home {
	background-color: #D32F2F;
}




a.navbar-brand.brand-page-home,
a.navbar-brand.brand-page-chapters {
  color: white;
}

a.navbar-brand.brand-page-home:hover,
a.navbar-brand.brand-page-chapters:hover  {
  color: white;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-page-home .navbar-nav > li > a {
	color: white;
}

.navbar-page-home .navbar-nav > li > a:hover {
	color: white;
}


/*=================================
  Welcome section
=================================*/

.center {
  	text-align: center;
}


.welcome-bg {
		background-color: #f2c300;
		margin-bottom: 0px;

}

.welcome-section {
	background-image: image-url("orgo-lab.jpg");

	height: 400px; 									
  background-repeat: no-repeat;		
  background-position: 50% 50%; 	
  background-attachment: scroll;		


  -webkit-background-size: cover;	/* Chrome & Safari specific */
  -moz-background-size: cover;		/* Mozilla Firefox */
  -o-background-size: cover;			/* Opera */
  background-size: cover;					/* Cover the width of the container */


	margin-top: -35px;
	text-align: center;
}

.welcome-desc {
	position: relative;
	top: 80px;
}

.title, .subtext {
	color: #FFFFFF;
	font-weight: bold;
}

.title {
	font-size: 135px;
	padding: 0;
}

.subtext {
	font-size: 28px;
	margin-top: 10px;
	margin-bottom: 20px;
}



.btn-welcome {
		color: white;
		background-color: #D32F2F;
		border-style: none;
		box-shadow: 0px 4px 0px 2px #ac3737;  /* very cool button shadow effect  */
		border-radius: 40px;
		width: 50%;
		font-size: 1.0em;

}

.btn-welcome:hover {
		background-color: #D32F2F;
		border-color: #D32F2F;
}


/*=================================
  Benefits section
=================================*/

.benefits-bg {
		background-color: #ffffff;
		color: #000;
		padding-top: 40px;
}



.divider {
		background-color: #ff4a4a;
		height: 0.25em;
		width: 24%;
		margin-top: 2%;
		margin-bottom: 4%;
		margin-left: 38%;
}


.top-space {
		margin-top: 0px;
}

.bottom-space {  
		padding-bottom: 50px;
		margin-bottom: 0px; /* This controls a margin that confuses me - refactor this code later */
}

.side-space {
		width: 100%;
}

.highlight {
		margin-top: 0px;
}

.h-body {
		font-size: 15px;
}

.btn-benefit {
		color: white;
		margin-top: 50px;
		background-color: #F5D76E;
		box-shadow: 0px 4px 0px 2px #FFA200;
		border-radius: 40px;
		/* width: 35%; */
		width: 50%;
		font-size: 1.2em;
}

.btn-benefit:hover {
		background-color: #F5D76E;
		border-color: #F5D76E;

}

i.glyphicon.icon-page-home {
	font-size: 46px;
}

/*=================================
  Footer section
=================================*/

.footer-above {

}

.footer-col {
		margin-top: 50px;
		margin-bottom: 50px;
}

footer h3 {
	margin-bottom: 10px;
}

.footer-links {
		margin: 0;
		padding: 0;
		list-style: none;
		color: white;
}

.footer-above {
		background-color:    #D32F2F; /* light purple = #9cabe4 */
		margin-top:          0px;

}

.footer-below {
		color:              white;
		padding-top:        25px;
		padding-bottom:     25px;
		background-color:   #C62828;
		margin-top:         0px;
 
}


/*=================================
  Chapter section
=================================*/

.text-color {
	color: black;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.section-header {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

.section-index-top-header {
	margin-top: 10px;
}


.panel-heading {
	cursor: pointer;
}


.chapter-select {
	margin-left: 10%;
	margin-right: auto;

}


/*=================================
  Ads by Google
=================================*/


ins.adsbygoogle.ad-sidebar {
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
