

	<!-- **** Second Content Section **** -->
	<div class="container top-space bottom-space side-space benefits-bg">
		<h2 class="center benefits-title">ABOUT THE JOURNEY</h2>
		<div class="divider"></div>
		<div class="row row-benefits">

			<div class="col-md-6 col-sm-12 highlight">
				<div class="h-caption center">
					<i class="glyphicon glyphicon-flash" style="font-size:46px;"></i>
					<h3>Accelerated Learning</h3>
				</div>
				<div class="h-body center">
					<p>We believe pictures and interactivity will enchance learning, so thats how we desgin our lectures! Our practice page after each lecture allows you to test your knowledge on what was just learned through a drag and drop interactions.</p> 
				</div>
			</div>

			<div class="col-md-6 col-sm-12 highlight">
				<div class="h-caption center">
					<i class="glyphicon glyphicon-user" style="font-size:46px;"></i>
					<h3>Student Focused</h3>
				</div>
				<div class="h-body center">
					<p>Studies have shown that students learn most effectively when they teach eachother. Our content is centered around this fact, our lessons are created by students. Our language is straight to the point and jargonless.</p>
              
				</div>
			</div>


		</div>
	</div>
