

	<!-- **** Second Content Section **** -->
	<div class="container top-space bottom-space side-space benefits-bg">
		<h2 class="center benefits-title">ABOUT THE JOURNEY</h2>
		<div class="divider"></div>
		<div class="row row-benefits">
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption center">
					<h3>Simplistic Teaching</h3>
				</div>
				<div class="h-body center">
					<p>My lessons are straight-forward and to the point
						so you can spend more time studying and less time
						searching for answers in your textbook.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption center">
					<h3>Community Learning</h3>
				</div>
				<div class="h-body center">
					<p>A discussion thread at the end of each chapter
					   means you are never learning alone. Post questions
					   and watch as students from around the world can answer.
					 </p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption center">
					<h3>Authentic Approaches</h3>
				</div>
				<div class="h-body center">
					<p>My lessons were created by students which means
						you will never be lost. The course was written from
						a students perspective.
					</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="h-caption center">
					<h3>Confidence Building</h3>
				</div>
				<div class="h-body center">
					<p>From the start, my lessons direct you to reactions and mechanisms, 
						 the heart of organic chemistry. On test day fear not
						 because everything will seem familiar.
					</p>
				</div>
			</div>
		</div>
			<div class="row">
				<div class="col-md-12 center"> <!-- what does adding .col-xs-12 do? ... was col-md-12 -->
					<%= link_to "Enroll Now for Free!", chapter1_path , class: "btn btn-default btn-benefit btn-lg" %>
			</div>
		</div>
	</div>
