

	<!-- **** Footer - Below **** -->
	<footer class="text-center">
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-md-12">&copy; 2015 OrgoDojo</div>
				</div>
			</div>
		</div>
	</footer>


