

		<!-- **** Footer - Below **** -->

		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-md-12">&copy; 2014 OrgoDojo</div>
				</div>
			</div>
		</div>
	</footer>
