	

	<!-- **** First Content Section **** -->		
	<div class="welcome-section">



			<div class="welcome-desc">
				<h1 class="title">WELCOME</h1>
				<div>
					<div class="subtext">Discover lectures to master organic chemistry concepts</div>
				</div>
					<p>
		      	<!-- Later this this will say "Enroll Now for Only $14.99" -->
		        <%= link_to "Get Started", chapter01_path , class: "btn btn-default btn-lg btn-welcome" %>
		      </p>
			</div>	

	</div>
