	

	<!-- **** First Content Section **** -->		
	<div class="jumbotron center welcome-bg">
		<div class="container container-welcome">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<%= image_tag("stan-logo.png", size: "256") %>
			    <h1>Welcome to OrgoDojo!</h1>
			    <p>Discover lectures to master organic chemistry concepts.</p>
		      <p>
		      	<!-- Later this this will say "Enroll Now for Only $14.99" -->
		        <%= link_to "Get Started", chapter01_path , class: "btn btn-default btn-lg btn-welcome" %>
		      </p>
		    </div>
			</div>
	  </div>
	</div>
